@import "mixin";

body {
  @body-copy();
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  @headings();
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 19px;
}

h4, h5, h6 {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
  background-color: @primary-color-2;
  @headings();
  .header-logo {
    display: flex;
    justify-content: center;
    width: 400px;
  }
  .header-small-logo {
    display: none;
  }
  .header-navigation {
    width: 100%;
    .header-register {
      height: 115px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .register-spacing {
        width: 150px;
      }
      .header-register-button {
        background-color: @primary-color-1;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        height: 30px;
        cursor: pointer;
      }
    }
    .header-pages {
      height: 85px;
      display: flex;
      justify-content: space-around;
      background-color: @secondary-color-1;
      color: white;
      .header-link {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.submenu-hide {
  display: none;
}

.header-submenu {
  min-height: 60px;
  background-color: @secondary-color-1;
  @headings();
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  .submenu-link {
    padding: 10px;
  }
}

@media only screen and (max-width: 740px)  {
  .header {
    height: 130px;
    .header-logo {
      display: none;
    }
    .header-small-logo {
      display: flex;
      justify-content: center;
      width: 150px;
    }
    .header-navigation {
      .header-register {
        height: 70px;
        .register-spacing {
          width: 60px;
        }
        .header-register-button {
          padding: 10px 25px;
          height: 25px;
        }
      }
      .header-pages {
        height: 60px;
      }
    }
  }
  .header-submenu {
    font-size: 16px;
  }
}

.footer {
  a {
    cursor: pointer;
  }
  height: 250px;
  width: 100%;
  background-color: @primary-color-2;
  @headings();
  display: flex;
  align-items: center;
  justify-content: space-around;
  div.footer-link {
    text-align: right;
  }
  .footer-link {
    height: 120px;
    .footer-contact {
      @body-copy();
      text-align: right;
      padding: 2px 0;
    }
  }
}

@media only screen and (max-width: 740px)  {
  .footer {
    height: 300px;
    flex-direction: column;
    align-items: center;
    a.footer-link {
      padding-top: 12px;
    }
    div.footer-link {
      padding: 12px 0 20px 0;
      text-align: center;
    }
    .footer-link {
      height: 180px;
      .footer-contact {
        text-align: center;
      }
    }
  }
}

.about-content {
  margin: 50px 80px;
  h2 {
    padding-top: 30px;
  }
}

.programs-content {
  margin: 50px 80px;
  .collapsible {
    background-color: @primary-color-2;
    color: @secondary-color-1;
    @headings();
    cursor: pointer;
    padding: 18px;
    margin-top: 50px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    display: flex;
  }

  .active, .collapsible:hover {
    background-color: @primary-color-1;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  h1 {
    padding-bottom: 20px;
  }
}

.weather-button {
  background-color: @secondary-color-1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 30px;
  cursor: pointer;
}

.home-content {
  .hero-image-container {
    height: 450px;
  }
  .hero-image {
    background-image: url("../images/home-banner.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .home-body {
    margin: 50px 80px;
    .home-headings {
      text-align: center;
    }
    .home-cards {
      padding: 40px 0 10px 0;
      display: flex;
      justify-content: space-around;
      .home-card {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 820px)  {
  .hero-image-container {
    height: 300px;
  }
  .home-body {
    .home-cards {
      padding: 30px 0 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .home-card {
        text-align: center;
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
